/* Css Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Body */

/* variables and classes */

/* Navigation Bar */
#navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    gap: 2px;
    background-color: black;
    /* border: 2px solid red; */
}

/* Navigation Bar: Logo And Images */
.cell-logo {
    margin: 0px 2px;
    /* border: 1px solid yellow; */
}

.cell-logo img {
    height: 60px;
    padding: 0px 2px;
    margin: 0px 2px;
    cursor: pointer;
}

/* Navigation Bar: LeftList Styling */
.left-elements ul {
    /* border: 2px solid green; */
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
    padding: 0px 1px;
    color: white;
}

/* Navigation Bar: RightList Styling */
.right-elements {
    flex-grow: 2;
    /* align-self: self-end; */
}

.right-elements ul {
    /* border: 2px solid yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    margin: 0px 2px;
    padding: 0px 1px;
}

/* ul li a */
ul li a {
    padding: 7px 8px;
    margin: 0px 3px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: black;
}
li:hover{
    color: black;
    background-color: white;
    opacity: 0.6;
    border: 1px solid white;
    border-radius: 4px;
}

/* Li tag Styling */
li {
    list-style: none;
}

/* Media Query for Responsive Navbar */

